<%- include('head.ejs') %>
  <div class="main">
    <div style="display: flex; flex-direction: row;">
      <h2>Details for:&nbsp;&nbsp;<%= displayName ? displayName : url%></h2>
      <button id="pause-btn" type="button" class="section-header-btn">Pause</button>
      <button id="delete-btn" type="button" class="section-header-btn">Delete</button>
    </div>
    <table>
      <tbody>
        <tr>
          <td class="table-key">name</td>
          <td class="table-value"><%= displayName %></td>
          <td class="table-edit"><button class="edit-field-btn" type="button">Edit</button></td>
        </tr>
        <tr>
            <td class="table-key">url</td>
            <td class="table-value"><%= url %></td>
            <td class="table-edit"><button class="edit-field-btn" type="button" disabled>Edit</button></td>
        </tr>
        <tr>
            <td class="table-key">emails to</td>
            <td class="table-value"><%= emails.length > 0 ? emails.join(',') : '[no alert recipients set]'%></td>
            <td class="table-edit"><button class="edit-field-btn" type="button">Edit</button></td>
        </tr>
      </tbody>
    </table>

    <h2>Stats</h2>
    <table>
      <thead>
        <td colspan="2" style="text-align: right;">
          <select>
            <option>All Time</option>
            <option>Last Hour</option>
            <option>Last 24 Hours</option>
            <option>Last Week</option>
          </select>
        </td>
      </thead>
      <tbody>
        <tr>
          <td class="table-key">total tests</td>
          <td class="table-value">2000</td>
        </tr>
        <tr>
            <td class="table-key">success (pct.)</td>
            <td class="table-value">1333 (66.7%)</td>
        </tr>
      </tbody>
    </table>

    <h2>Notes</h2>
    <table>
      <tbody>
        <tr>
          <td>04/20/2019 7:41 PM</td>
          <td>A bunch of fucked up shit happened at this API today.
            <button class="edit-field-btn" type="button">X</button>
          </td>
        </tr>
        <tr>
          <td colspan="2">+ Add Note</td>
        </tr>
      </tbody>
    </table>
              
              
   
  </div>
<%- include('end.ejs') %>