<%- include('head.ejs') %>
  <div id="main">
    
    <table>
      <thead>
        <th>API Name</th>
        <th>URL</th>
        <th>uptime (total)</th>
        <th>uptime (24 hrs)</th>
        <th>Last Fail At</th>
      </thead>
      <tbody>
        <% if (apis.length === 0) { %>
          <tr><td colspan="5"><h2>No APIs currently being monitored.</h2><tr></td></tr>
        <% } else { %>
          <% apis.forEach((api) => { %>
            <% let totalTests = api.tests.length; %>
            <% let totalSuccess = api.tests.filter(test => test.wasSuccessful).length; %> 
            <% let lastTewntyFourTests = api.tests.filter(test => test.timestamp >= Date.now() - (1000 * 60 * 60 * 24)).length; %>
            <% let lastTewntyFourSuccess = api.tests.filter(test => test.wasSuccessful && test.timestamp >= Date.now() - (1000 * 60 * 60 * 24)).length; %>
           
            <tr id=<%= 'row-' + api.id %> class=<%= (apis.length < 7) ? 'wide-row' : '' %>>
              <td class="col-name">
                <%= api.name %>
                <% if(api.isPaused) { %>
                  <span class="paused">(paused)</span>
                <% } %>
              </td>
              <td class="col-url"><%= api.url %></td>
              <td class="col-percents"><%= totalTests ? (100 * totalSuccess / totalTests).toFixed(1) + '%' : 'n/a' %></td>
              <td class="col-percents"><%= totalTests ? (100 * lastTewntyFourSuccess / lastTewntyFourTests).toFixed(1) + '%' : 'n/a' %></td>
              </td>
              <td class="col-last-fail"><%= api.lastFail %></td>
            </tr>
          <% }) %>
        <% } %>
        <tr id="add-api-row">
          <td colspan="5"><span style="position: relative; bottom: 2px; font-weight: bold;">+</span> Add API</td>
        </tr>
      </tbody>
    </table>
    <div style="text-align: right;">
      <button id="auto-refresh-btn" type="button">Auto-refresh: <span id="auto-refresh-on">ON</span>&nbsp;/&nbsp;<span id="auto-refresh-off">OFF</span></button>
    </div>
  
  </div>
<%- include('end.ejs') %>