<%- include('head.ejs') %>
  <div id="main">
    <% if (apis.length === 0) { %>
      <h2>There are no apis being monitored.</h2>
    <% } else { %>
      <table>
        <thead>
          <th>API Name</th>
          <th>URL</th>
          <th>uptime (total)</th>
          <th>uptime (24 hrs)</th>
          <th>Last Check At</th>
        </thead>
        <tbody>
          <% apis.forEach((api) => { %>
            <% let totalTests = api.tests.length; %>
            <% let totalSuccess = api.tests.filter(test => test.wasSuccessful).length; %> 
            <% let lastSevenDaysTests = api.tests.filter(test => test.timestamp >= Date.now() - (1000 * 60 * 60 * 24 * 7)).length; %>
            <% let lastSevenDaysSuccess = api.tests.filter(test => test.wasSuccessful && test.timestamp >= Date.now() - (1000 * 60 * 60 * 24 * 7)).length; %>
           
            <tr id=<%= api.id %>>
              <td><%= api.name %></td>
              <td><%= api.url %></td>
              <td><%= totalTests ? (100 * totalSuccess / totalTests).toFixed(1) + '%' : 'n/a' %></td>
              <td><%= totalTests ? (100 * lastSevenDaysSuccess / lastSevenDaysTests).toFixed(1) + '%' : 'n/a' %></td>
              </td>
              <td><%= api.lastTest %></td>
            </tr>
          <% }) %>
        </tbody>
        <tbody>
          <tr>
            <td>+</td>
          </tr>
        </tbody>
      </table>
    <% } %>
  </div>
<%- include('end.ejs') %>